@page "/second"
@using Microsoft.Extensions.Logging
@using Soenneker.Blazor.TomSelect.Demo.Dtos
@using Soenneker.Blazor.TomSelect.Dtos
@using Soenneker.Extensions.Enumerable
@using Soenneker.Utils.AutoBogus

@inject ILogger<Index> Logger
@inject HttpClient Http

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.Blazor.TomSelect demo</h1>
<p>This page demonstrates some of the uses of the TomSelect component.</p>

@if (_render)
{
    <TomSelect
        TItem="Country"
        TType="string"
        OnInitialize="OnTomSelectInitialized"
        OnOptionAdd="OnOptionAdd"
        OnItemAdd="OnItemAdd"
        Data="@_countries"
        TextField="item => item.Name"
        ValueField="item => item.Id.ToString()"
        CreateFuncSync="text => new Country{Name = text, Id = Guid.NewGuid().ToString()}"
        @ref="_tomSelect"
        Items=_selectedItems
        Multiple="true"
        Create="true" >
    </TomSelect>
}
<br />

<button @onclick="AddOption" >AddOption</button>
<button @onclick="AddItem" >AddItem</button>
<button @onclick="GetSelectedItems" >GetSelectedItems</button>
<button @onclick="Render" >Render</button>
<button @onclick="ClearItems" >ClearItems</button>
<button @onclick="ClearOptions" >ClearOptions</button>
<button @onclick="Reinitialize" >Reinitialize</button>
<button @onclick="SetData" >SetData</button>

<button @onclick="OpenModal" >Open Modal</button>

<hr />

<TomSelectModal @ref="_tomSelectModal" ></TomSelectModal>

@code{
    private List<Country>? _countries;

    private AutoFaker _autoFaker = null!;

   // private List<TomSelectOption>? _options;
    private List<Country> _selectedItems = [];

    private TomSelect<Country, string> _tomSelect = null!;

    private bool _render = true;

    private TomSelectModal? _tomSelectModal;

    protected override void OnInitialized()
    {
        _autoFaker = new AutoFaker();
    }

    protected override async Task OnInitializedAsync()
    {
        //_countries = _autoFaker.Generate<Country>(100);

        // await SetData();
        //_selectedItems = _countries!.Take(2).ToList();
    }

    private async Task SetData()
    {
        _countries = await Http.GetFromJsonAsync<List<Country>>("sample-data/countries.json");
        _selectedItems = _countries!.Take(1).ToList();
    }

    private async Task OpenModal()
    {
        await _tomSelectModal!.Show();
    }

    private void OnTomSelectInitialized()
    {
        Logger.LogInformation("OnInitialized called");
    }

    private void ClearItems()
    {
        // await _tomSelect.ClearItems();
        _selectedItems.Clear();
    }

    private async Task ClearOptions()
    {
        await _tomSelect.ClearOptions();
    }

    private async Task Reinitialize()
    {
        await _tomSelect.Reinitialize();
    }

    private void Render()
    {
        _render = !_render;
    }

    private void OnOptionAdd((string str, TomSelectOption obj) result)
    {
        Logger.LogInformation("OnOptionAdd called");
    }

    private void OnItemAdd((string str, TomSelectOption obj) result)
    {
        Logger.LogInformation("OnItemAdd called");
    }

    private async Task AddItem()
    {
        await _tomSelect.AddItem(_tomSelect.Data.GetRandom()!.Id.ToString());
    }

    private async Task AddOption()
    {
        await _tomSelect.AddOption(_autoFaker.Generate<Country>());
    }

    private void GetSelectedItems()
    {
        if (_tomSelect.Items.Count == 0)
        {
            Logger.LogInformation("No items selected");
            return;
        }

        foreach (Country item in _tomSelect.Items)
        {
            Logger.LogInformation("Selected item: {0}", item.Name);
        }
    }

}